<!-- <mat-spinner class="spinner2" *ngIf="Guardando"></mat-spinner> -->

<div class="container mt-3" *ngIf="!auditoriaExistente">
  <mat-toolbar style="display: flex; justify-content: space-between">
    <span>Nueva Auditoría</span>
    <div>
      <button mat-button color="warn" (click)="onCancel()">Cancelar</button>
      <button mat-button type="submit" (click)="onSave()" [disabled]="!form.valid">
        Guardar
      </button>
    </div>
  </mat-toolbar>

  <form [formGroup]="form" style="
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: left;
    ">
    <mat-form-field style="width: 70%">
      <mat-label>Prestador</mat-label>
      <input matInput [matAutocomplete]="auto" formControlName="prestadores" />
      <mat-autocomplete panelWidth="fit-content" #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
        <mat-option *ngFor="let state of Prestadores.slice(0, 5)" value="{{ state.idprestador }}">
          <div style="
              display: flex;
              justify-content: space-between;
              align-content: flex-start;
            ">
            <div [ngStyle]="{ width: maxLenghtPrest / 2.4 + 'rem;' }">
              {{ state.Prestador }}
            </div>
            <div *ngIf="!isMobileLayout">
              UGL: {{ state.UGL }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div *ngIf="!isMobileLayout">
              CUIT: {{ state.CUIT }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div *ngIf="!isMobileLayout">Nro Sap: {{ state.SAP }}</div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Fecha:</mat-label>
      <input matInput type="date" formControlName="fechainicio" placeholder=" " />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ingresa la fecha de auditoria</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="fechainicio" placeholder="Inicio" />
        <input matEndDate formControlName="fechafin" placeholder="Fin" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Fecha de inicio invalida</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Fecha de fin invalida</mat-error
      > -->
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de informe</mat-label>

      <mat-select formControlName="TipoInforme">
        <mat-option *ngFor="let plantilla of TipoInforme" value="{{ plantilla.idguia }}">
          {{ plantilla.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field style="width: 50%">
      <mat-label>Observaciones</mat-label>
      <textarea matInput placeholder="Ej. matricula del vehículo" maxlength="200" rows="4"
        formControlName="observaciones"></textarea>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>Modalidad</mat-label>

      <mat-select formControlName="modalidad">
        <mat-option value="A distancia"> A distancia </mat-option>
        <mat-option value="Presencial"> Presencial </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número de GDE</mat-label>

      <input matInput formControlName="GDE" />
    </mat-form-field> -->

    <!-- <mat-form-field style="width: 50rem">
      <mat-label>Referente de equipo</mat-label>
      <input matInput [matAutocomplete]="auto3" formControlName="referente" />
      <mat-autocomplete
        #auto3="matAutocomplete"
        [displayWith]="displayFn3.bind(this)"
      >
        <mat-option
          *ngFor="let usuario of Usuarios"
          value="{{ usuario.idusuario }}"
        >
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-content: flex-start;
            "
          >
            <div [ngStyle]="{ width: maxLenghtUsuar / 1.5 + 'rem;' }">
              {{ usuario.apellido + " , " + usuario.nombre }}
            </div>
            <div [ngStyle]="{ width: '50%' }">Legajo: {{ usuario.legajo }}</div>
            <div>Profesion/es: {{ usuario.Profesion }}</div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
    <br />

    <mat-label>Equipo Auditor</mat-label>
    <button mat-icon-button type="button" (click)="addSubElemento()">
      <mat-icon>add</mat-icon>
    </button>
    <div formArrayName="integrantes">
      <div *ngFor="let item of getSubelementos.controls; let pointIndex = index" [formGroupName]="pointIndex">
        <mat-grid-list cols="{{ 16 }}" rowHeight="55px" gutterSize="5px">
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <a mat-icon-button type="button" (click)="deleteSubElemento(pointIndex)">
              <mat-icon>remove</mat-icon>
            </a>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="5" [rowspan]="1">
            <mat-form-field style="text-align: left">
              <mat-label> Area </mat-label>
              <mat-select formControlName="areas">
                <mat-option *ngFor="let SubOpc of Area" value="{{ SubOpc.idareaauditoria }}">
                  {{ SubOpc.descripcion }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="5" [rowspan]="1">
            <mat-form-field class="example-full-width">
              <mat-label>Usuario</mat-label>
              <input matInput [matAutocomplete]="auto2" formControlName="usuarios" />
              <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn2.bind(this)" panelWidth="fit-content">
                <mat-option *ngFor="let usuario of AuxUsuarios[pointIndex]" value="{{ usuario.idusuario }}">
                  <span>{{ usuario.apellido + " , " + usuario.nombre }}</span> |
                  <small>Legajo: {{ usuario.legajo }}</small> |
                  <small>Profesion/es: {{ usuario.Profesion }}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>

          <!-- <mat-grid-tile [colspan]="5" [rowspan]="1">
            <mat-slide-toggle
              [color]="['primary']"
              class="container"
              formControlName="responsable"
            >
              Responsable
            </mat-slide-toggle>
          </mat-grid-tile> -->
        </mat-grid-list>
      </div>
    </div>

    <br />
  </form>
</div>

<div class="container mt-3" *ngIf="auditoriaExistente">


  la auditoría ya fue planificada
  {{auditoriaExistente | json}}
</div>