mat-form-field {
  padding: 5px;
}
::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
  color: #69b34c;
}

.spinner2 {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
