<div class="container justify-content-center align-items-center">
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header>
        <!-- <mat-card-title>Autenticación</mat-card-title> -->
      </mat-card-header>

      <form [formGroup]="formulario" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="Username" autocomplete="off" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              type="password"
              formControlName="Password"
              autocomplete="off"
            />
          </mat-form-field>
        </mat-card-content>
        <button
          mat-stroked-button
          color="yellow"
          (click)="ingresar()"
          class="btn-block"
        >
          Ingresar
        </button>
      </form>
      <br />
      <a [routerLink]="['/signup']"> Registrarse </a>
      <br />
      <a [routerLink]="['/changepass']"> Cambiar contraseña </a>
      <!-- <button mat-button routerlink="signup" color="primary">Registrarse</button> -->
    </mat-card>
  </div>
</div>
