/* table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-container {
  overflow: auto;
} */

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table tbody {
  display: table;
  width: 100%;
}

.mat-row:hover {
  background-color: #C7CCEB  ;
  cursor: pointer;
}

.mat-row {
  text-align: left;
}

.mat-cell,
.mat-header-cell {
  padding: 0 1em;
  /* min-width: 10%; */
}
