/* table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-container {
  overflow: auto;
} */

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table tbody {
  display: table;
  width: 100%;
}
