<!-- <mat-spinner class="spinner2" *ngIf="Guardando"></mat-spinner> -->
<div *ngIf="Auditoria" class="container" [formGroup]="form">
  <br />
  <h1>{{ Auditoria?.Prestador | uppercase }}</h1>
  <div>
    Fecha planificada: {{ Auditoria?.fechaplan | date: "dd/MM/yyyy" }} -
    {{ Auditoria?.EstadoAuditoria }}
    <br />
  </div>
  <div align="right">
    <button
      mat-raised-button
      color="primary"
      (click)="CompletarGuia(true)"
      *ngIf="!completarGuia"
    >
      Completar guia
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="CompletarGuia(false)"
      *ngIf="completarGuia"
      style="margin-right: 20px"
    >
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      *ngIf="completarGuia"
    >
      Guardar
    </button>
  </div>
  <br />
  <br />
  <!-- <button (click)="snackbarSuccess('asd')">lala</button> -->

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Datos del Prestador </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <div class="row">
          <div class="col">
            Prestador: <b> {{ Auditoria?.Prestador }} </b> <br />
            CUIT: <b> {{ Auditoria?.CUIT }} </b> <br />
            Telefono: <b> {{ Auditoria?.telefono }} </b> <br />
            Email: <b> {{ Auditoria?.email }} </b> <br />
          </div>
          <div class="col">
            Domicilio: <b> {{ Auditoria?.domicilio }} </b> <br />
            Localidad: <b> {{ Auditoria?.localidad }} </b> <br />
            Provincia: <b> {{ Auditoria?.ProvinciaPrestador }} </b> <br />
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Datos de la auditoria </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        Fecha de auditoria: <b> {{ Auditoria?.fechaauditoria }} </b> <br />
        UGL: <b> {{ Auditoria?.UGL }} </b> <br />
        idguia: <b> {{ Auditoria?.idguia }} </b> versionguia:
        <b> {{ Auditoria?.versionguia }} </b>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br />
  <mat-accordion formArrayName="items">
    <mat-expansion-panel *ngFor="let inf of Informe">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ inf.descripcion }} </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <h2>Items</h2> -->
      <div class="container">
        <div class="container">
          <div
            *ngFor="let item of inf.items; let pointIndex = index"
            [formGroupName]="ELPROBLEMA(item.iditem)"
          >
            <div class="row">
              <div class="col">
                {{ item.iditem }} -
                {{ item.descripcion }}
              </div>
              <div class="col col-lg-2">
                <mat-radio-group
                  *ngIf="item.componente == 'radio'"
                  aria-label="Select an option"
                  formControlName="Valor"
                >
                  <!-- [disabled]="!completarGuia" -->
                  <mat-radio-button
                    *ngFor="let tipo of item.tipoEval"
                    [value]="tipo.descripcion"
                  >
                    <!-- [value]="{
                      iditem: item.iditem,
                      valor: tipo.descripcion,
                      descripcion: item.descripcion
                    }" -->

                    {{ tipo.descripcion }}
                    &nbsp; &nbsp; &nbsp;
                  </mat-radio-button>
                </mat-radio-group>
                <div *ngIf="item.componente == 'input'">
                  <mat-form-field appearance="fill">
                    <!-- <input matInput /> -->
                    <input matInput [disabled]="!completarGuia" />
                  </mat-form-field>
                  <br />
                </div>

                <button
                  mat-button
                  (click)="fileInput.click()"
                  *ngIf="item.componente == 'img'"
                  [disabled]="!completarGuia"
                >
                  <mat-icon>photo_camera</mat-icon>
                  <input
                    #fileInput
                    type="file"
                    (change)="onFileInput($event)"
                    style="display: none"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Secciones -->
        <mat-accordion>
          <mat-expansion-panel
            class="container"
            *ngFor="let subsec of inf.subSecciones"
          >
            <mat-expansion-panel-header
              style="font-size: 1rem; font-weight: 500"
            >
              {{ subsec.descripcion }}
            </mat-expansion-panel-header>
            <div
              *ngFor="let item of subsec.items; let pointIndex = index"
              [formGroupName]="ELPROBLEMA(item.iditem)"
            >
              <!-- asd: {{ ELPROBLEMA(item.iditem) }} -->
              <div class="row">
                <div class="col">
                  {{ item.iditem }} -
                  {{ item.descripcion }}
                </div>

                <div class="col col-lg-2">
                  <mat-radio-group
                    *ngIf="item.componente == 'radio'"
                    aria-label="Select an option"
                    formControlName="Valor"
                  >
                    <!-- [disabled]="!completarGuia" -->
                    <mat-radio-button
                      *ngFor="let tipo of item.tipoEval"
                      [value]="tipo.descripcion"
                    >
                      {{ tipo.descripcion }}
                      &nbsp; &nbsp; &nbsp;
                    </mat-radio-button>
                  </mat-radio-group>

                  <div *ngIf="item.componente == 'input'">
                    <mat-form-field
                      appearance="outline"
                      style="width: 70%; height: 50%; padding: 0"
                    >
                      <!-- <input matInput /> -->
                      <input matInput [disabled]="!completarGuia" />
                    </mat-form-field>
                    <br />
                  </div>

                  <button
                    mat-button
                    (click)="fileInput.click()"
                    *ngIf="item.componente == 'img'"
                    [disabled]="!completarGuia"
                  >
                    <mat-icon>photo_camera</mat-icon>
                    <input
                      #fileInput
                      type="file"
                      (change)="onFileInput($event)"
                      style="display: none"
                    />
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- <div class="padre">
  <div class="hijo"><mat-spinner *ngIf="!Auditoria"></mat-spinner></div>
</div> -->
