/* #frugalmap {
  height: 300px;
  background-color: #eee;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-panel.mat-select-panel {
  max-width: 2500px;
}

.example-full-width {
  width: 100%;
}
::ng-deep .cdk-overlay-pane {

  min-width: 450px;
} */

mat-form-field {
  padding: 5px;
}
::ng-deep snack-bar-container simple-snack-bar .mat-simple-snackbar-action {
  color: #69b34c;
}

.spinner2 {
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}