<nav>
    <div>

        <h1>Global por UGL</h1>
        <autocompletar 
        [placeholder]="['UGL']" 
        [data]="Ugls" 
        (output)="addItem($event)" 
        (clear)="limpiar($event)"
        ></autocompletar>

        <mat-form-field appearance="fill">
            <mat-label>Comparador</mat-label>
            <mat-select >
              <mat-option value="1">=</mat-option>
              <mat-option value="2">></mat-option>
              <mat-option value="3"><</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>
                Evaluacion global
            </mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
          </mat-form-field>

    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<!-- 
<nav>
    <br>
    <br>
    <br>
    <ul align="left">
        <br>
        <h1>Global por UGL</h1>
        <li>
            

            &nbsp; Evaluacion global
            <input type="text">
            &nbsp; Asistencial
            <input type="text">
            &nbsp; Facturacion
            <input type="text">
            &nbsp; 
            &nbsp; 
            &nbsp; 
            <p class="nav-selections">Borrar</p>
        </li>
        
         <li><a href="#/contact" class="nav-selections" style="margin-right:35px;">Contact</a></li>
        <li><a href="#/about" class="nav-selections">About</a></li>
        <li><a href="#/products" class="nav-selections">Products</a></li>
        <li><a href="#" class="nav-selections">Home</a></li> 
    </ul>
</nav> -->



<grafico-burbuja 
[ugl]="ugl_seleccionada" 
[data]="DatosDispersionUgl"
></grafico-burbuja>



<grafico-barra
[type]="'horizontalBar'"
[data]='DatosRankingDeciloUgl["Decilo Global"]?.Data'
[label]='DatosRankingDeciloUgl["Decilo Global"]?.Label'
[filtro]="'Decilo Global'"
></grafico-barra>

<grafico-barra
[type]="'horizontalBar'"
[data]='DatosRankingDeciloUgl["Decilo Facturación"]?.Data'
[label]='DatosRankingDeciloUgl["Decilo Facturación"]?.Label'
[filtro]="'Decilo Facturación'"
></grafico-barra>

<grafico-barra
[type]="'horizontalBar'"
[data]='DatosRankingDeciloUgl["Decilo Asistencial"]?.Data'
[label]='DatosRankingDeciloUgl["Decilo Asistencial"]?.Label'
[filtro]="'Decilo Asistencial'"
></grafico-barra>

<grafico-barra
[type]="'horizontalBar'"
[data]='DatosRankingDeciloUglTotal?.Data'
[label]='DatosRankingDeciloUglTotal?.Label'
[filtro]="'Decilo Asistencial'"
></grafico-barra>

<!-- <grafico-burbuja [ugl]="ugl_seleccionada" [eval_global]="['eval_global']" [eval_asistencial]="['eval_asistencial']"
    [eval_facturacion]="['eval_facturacion']" [data]="Datos"></grafico-burbuja>
-->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolores accusamus facilis ad illum quidem
    tempore odio eos reprehenderit iure. Vero architecto, facere cupiditate odio iure in atque minima vel.</p>
<p>Enim cupiditate repellendus, voluptatibus at aspernatur fugiat animi rerum numquam assumenda vero deleniti alias
    sapiente ratione, accusantium, consequatur unde commodi optio nostrum perferendis harum qui minima accusamus saepe
    suscipit. Hic!</p>
<p>Accusantium, earum. Eligendi, iure culpa! Odit voluptatem iusto numquam minima corporis dicta beatae amet ullam
    dolores ipsum dolor repellendus placeat asperiores sunt nobis voluptas, consequuntur odio, animi nihil. Aliquam,
    corporis!</p>
<p>Aspernatur maiores maxime dignissimos alias voluptatum nisi magni, qui reprehenderit incidunt ducimus facilis
    recusandae. Velit illo, ad odit neque asperiores maxime cum consectetur accusamus reiciendis officiis mollitia quod
    repudiandae aut.</p>
<p>Minus doloremque autem, praesentium consectetur laudantium optio, magni, tempore error voluptatibus natus harum fugit
    omnis et enim porro veritatis. Accusantium iste labore maiores voluptas ratione possimus ad quaerat laboriosam
    necessitatibus?</p>
<p>Obcaecati debitis, nobis ipsa maxime maiores aspernatur consequatur? Provident magni earum quis consequatur quod
    praesentium atque tempora, accusamus, quos laudantium, nemo sed nobis sunt alias doloribus. Facilis natus enim nemo.
</p>
<p>Excepturi, delectus sapiente, nihil consectetur alias hic animi ab, dolor minus vel pariatur voluptatibus voluptas
    maiores assumenda! Numquam ratione optio nihil officia unde dolor, nam adipisci quibusdam blanditiis dicta
    architecto.</p>
<p>Odio doloremque id commodi ratione ipsa accusantium voluptatibus laborum quo voluptas reiciendis magni vel
    repudiandae reprehenderit mollitia, fugiat ad doloribus natus. Corrupti, ratione quod deleniti corporis facilis ad
    repellendus excepturi!</p>
<p>Exercitationem ducimus deserunt repudiandae, perspiciatis cumque ipsa, porro impedit est explicabo eius officia,
    distinctio animi voluptatibus totam fugit iusto? Suscipit cum temporibus ratione exercitationem molestias natus
    consectetur, similique nobis repellendus?</p>
<p>Eveniet neque sapiente veniam suscipit quibusdam, eius possimus voluptates, perspiciatis esse quod error quidem vero
    nesciunt exercitationem repellendus excepturi accusantium minus! Sunt repellat suscipit qui repudiandae alias nihil
    dicta accusantium.</p>
<p>Aperiam eligendi esse est ad accusantium veniam ipsam, provident velit corporis, quasi nobis molestiae, earum sit
    repellat cum neque. Aspernatur reiciendis atque temporibus nobis praesentium nisi recusandae eaque, ut maiores!</p>
<p>Velit voluptatibus odit perferendis possimus consequatur quae sequi nemo dolores recusandae dicta, omnis inventore
    adipisci commodi error veniam nulla aspernatur! Temporibus at et incidunt sapiente eos aut, ut nam illo.</p>
<p>Pariatur ipsam, temporibus debitis laudantium mollitia molestias, tempore perferendis deleniti rem delectus neque
    excepturi, corrupti repellendus laboriosam corporis aperiam accusamus odio sapiente alias nulla eos sed dolore
    dignissimos. Nobis, sed?</p>
<p>Modi, blanditiis, explicabo ab quo reprehenderit excepturi doloribus non voluptas, accusamus animi nulla aspernatur
    nihil molestias! Harum dignissimos illo quidem quaerat, doloremque amet doloribus? Tempora nostrum est omnis optio
    placeat.</p>
<p>Ad explicabo veritatis id inventore quidem animi suscipit, expedita corrupti nam nobis quae impedit sed beatae
    maiores voluptatem sunt facere reiciendis atque deserunt tempore? Officiis rem dolores dolore modi placeat!</p>
<p>Quidem officiis beatae, quia, ex illo repellat eveniet optio laboriosam exercitationem, veniam eius praesentium odio
    blanditiis quos rem nam. Quae eveniet aut facilis, quidem ab nemo corrupti tempora! Ab, atque?</p>
<p>Velit at sequi nesciunt reiciendis ut illum, vitae dicta inventore hic, qui voluptates autem. Provident quos
    voluptatibus ut natus, ullam praesentium beatae. Repudiandae, perspiciatis voluptates facere dolorem numquam est
    esse.</p>
<p>Animi at dolorem, vero veritatis dolores velit sunt, repellendus, illo vitae id iusto cum quidem culpa optio autem
    recusandae dolor libero porro unde expedita atque quasi! Commodi autem numquam enim.</p>
<p>Corrupti quas impedit, cupiditate, officiis consequuntur dolore repellendus provident sint expedita cum
    exercitationem culpa officia iusto, dolores laboriosam consectetur praesentium optio quisquam beatae eveniet nam
    laborum numquam aliquam voluptatum. Velit!</p>
<p>Enim necessitatibus eius ipsam magni, dolor molestias tempore quo possimus reiciendis velit commodi quaerat
    voluptatem consectetur repellendus mollitia ex nesciunt blanditiis hic, nisi tenetur similique! Recusandae adipisci
    deleniti eaque similique.</p>
<p>Quam suscipit eum fuga! Praesentium ipsum eligendi, eum at qui repellat vel ipsam culpa debitis rem laudantium
    doloribus harum! Ex architecto eveniet optio quod nisi non. Numquam, alias optio! Nihil?</p>
<p>Veniam error, possimus eveniet consequatur et, molestiae ab quae nisi quia blanditiis sit fuga tenetur quaerat!
    Quisquam ipsam, ducimus maxime et iusto sit adipisci culpa in, debitis eius dolorem architecto?</p>
<p>Atque rerum pariatur debitis distinctio accusantium ut aliquam eligendi aliquid error beatae delectus illum explicabo
    labore, dolorum obcaecati unde impedit itaque nobis. Ullam vel aut at facere impedit non maxime?</p>
<p>Assumenda distinctio inventore, architecto commodi est odit id a porro sequi ducimus error sint corrupti quisquam
    voluptatum qui laborum explicabo maiores quasi? Nostrum laudantium quia aspernatur alias accusamus possimus
    consequuntur?</p>
<p>Quam itaque ratione, perferendis suscipit eveniet distinctio nemo voluptate consequuntur unde, vero culpa magnam eius
    ea at! Facilis esse exercitationem quod eaque sequi adipisci quaerat quas. Eaque molestiae est aspernatur.</p>
<p>Error ipsa neque temporibus exercitationem quod corrupti, repellat, dolore dolorem modi mollitia, similique ex.
    Corporis laborum tenetur blanditiis. Autem repellendus sint id, obcaecati omnis est explicabo rem porro blanditiis
    mollitia?</p>
<p>Aliquam minus provident repudiandae reiciendis saepe exercitationem odio sit officia corporis quae distinctio aliquid
    impedit blanditiis ipsam tempore, quis id ex dignissimos voluptas nemo eos minima dolorum? Eveniet, sequi
    exercitationem!</p>
<p>Amet excepturi commodi accusamus quod quam molestiae eaque sed assumenda placeat maxime dolore hic distinctio ratione
    vel blanditiis doloremque unde saepe, quaerat fuga consectetur reprehenderit? Officiis eius assumenda est hic?</p>
<p>Fugiat dolorem omnis facilis, distinctio iste earum praesentium ad nulla id odio, natus, quo placeat? Quod libero
    praesentium optio inventore temporibus molestias beatae hic voluptate animi maiores, aliquid sit tempora.</p>
<p>Sed minima pariatur alias nihil magni debitis autem molestias rem nesciunt officiis! Officiis, quam autem neque
    nobis, iusto quo, fuga dolorum fugiat voluptate animi debitis facere tempora eveniet odit nulla?</p>
<p>Cupiditate at error voluptatum sapiente consequatur? Ipsam, tempore? Illo, nihil. Ab atque, quisquam quasi
    praesentium vero temporibus perspiciatis corporis quas culpa molestias eveniet, pariatur optio doloremque, totam
    fugiat animi officia?</p>
<p>Sint quisquam corporis magnam unde. Odit provident, est temporibus pariatur accusantium officia nisi assumenda
    laboriosam repellendus asperiores magnam quia tenetur, sapiente enim ipsa a mollitia dolorem consequuntur expedita
    possimus dolorum!</p>
<p>Nobis eius fuga repellat harum? Pariatur, doloribus minima aliquid earum ratione magni facere nulla asperiores
    quibusdam cumque quia debitis, veritatis fugit ea velit animi commodi alias repellat a tenetur. Sunt.</p>
<p>Obcaecati sunt vitae quibusdam sit voluptatibus suscipit aspernatur excepturi saepe quia architecto in dignissimos
    quisquam nihil commodi nemo, itaque molestias ipsam nesciunt at iure dolorem. Ullam dicta natus amet adipisci.</p>
<p>Neque deserunt ex error sit pariatur. Expedita, doloribus nulla consequatur quasi fugit vitae dicta minus autem
    delectus nesciunt quod eveniet architecto minima cumque rem accusantium ipsa mollitia odit sit earum.</p>
<p>Praesentium excepturi adipisci, dolore rerum exercitationem maxime porro alias recusandae tempora quisquam, dolorum
    esse fuga nulla nesciunt. Fugiat quibusdam nam nisi veniam facilis, eligendi, animi quos ipsa labore harum placeat.
</p>
<p>Alias quaerat soluta similique delectus molestiae, velit cupiditate reiciendis eos quas accusamus facere quidem
    inventore, veritatis eum sunt iure! Magni debitis explicabo asperiores, harum vitae eum possimus nostrum voluptas
    tempore?</p>
<p>Exercitationem veritatis quaerat placeat nobis dolorum sed quia iusto ipsam officiis magni corporis nam tempore
    libero illum error labore magnam laboriosam reiciendis, harum ratione et eum nihil iure quis! Placeat.</p>
<p>Cumque eveniet amet ea incidunt tempore, accusamus dolorum voluptatibus ipsum optio sunt corporis facilis quo quasi
    magnam in temporibus iste ullam. Consectetur vel harum minus inventore aliquam nemo! Doloribus, corrupti.</p>
<p>Delectus impedit repellat pariatur saepe doloribus sed ab suscipit nemo deleniti, accusamus obcaecati atque
    voluptatum esse repudiandae labore sequi? Nesciunt atque natus, porro officia fugit molestiae exercitationem alias
    iusto odio.</p>