<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar> Menu </mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="principal">Principal</a>
      <a mat-list-item routerLink="ugl">Global x UGL</a>
      <a mat-list-item routerLink="prestador"> Global x Prestador</a> -->
      <!-- <a mat-list-item routerLink="global">Global</a>
      <a mat-list-item routerLink="mensual">Mensual</a> -->
      <!-- <a mat-list-item routerLink="principal">Principal</a>
      <a mat-list-item routerLink="signin">Ingresar</a>
      <a mat-list-item routerLink="signup">Registrarse</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="justify-content: space-between">
      <div style="display: flex">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a mat-list-item routerLink="principal" style="color: white">SIGAP</a>
      </div>
      <div>
        {{ nombre() }} -
        <button mat-button (click)="salir()" *ngIf="aut.loggedIn()">
          Salir
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->

    <ng-content #name></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
