<mat-tab-group dynamicHeight [selectedIndex]="pasoSeleccionado" (selectedIndexChange)="pasoSeleccionado = $event">
  <mat-tab [disabled]="pasoPlanificacionDeshabilitado">
    <ng-template mat-tab-label>
      <span class="badge badge-wizard badge-pill ml-2"
        [ngClass]="obtenerColorDelBadge(Constantes.INDEX_TAB_PLANIFICACION)">{{Constantes.INDEX_TAB_PLANIFICACION+1}}</span>
      <span class="ml-2">Planificación</span>
    </ng-template>
    <ng-template matTabContent>
      <botonera-estados [(auditoria)]="auditoria" (auditoriaChange)="actualizarWizard($event)"
        [flujoDeEstados]="flujoDeEstados" [estados]="estados"></botonera-estados>
      <planificar-auditoria [idAuditoria]="idAuditoria"></planificar-auditoria>
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="pasoGuiaDeshabilitado">
    <ng-template mat-tab-label>
      <span class="badge badge-wizard badge-pill ml-2"
        [ngClass]="obtenerColorDelBadge(Constantes.INDEX_TAB_GUIA)">{{Constantes.INDEX_TAB_GUIA+1}}</span>
      <span class="ml-2">Guía</span>
    </ng-template>
    <ng-template matTabContent>
      <botonera-estados [(auditoria)]="auditoria" (auditoriaChange)="actualizarWizard($event)"
        [flujoDeEstados]="flujoDeEstados" [estados]="estados"></botonera-estados>
      <ver-auditoria [idAuditoria]="idAuditoria"></ver-auditoria>
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="pasoInformeDeshabilitado">
    <ng-template mat-tab-label>
      <span class="badge badge-wizard badge-pill ml-2"
        [ngClass]="obtenerColorDelBadge(Constantes.INDEX_TAB_INFORME)">{{Constantes.INDEX_TAB_INFORME+1}}</span>
      <span class="ml-2">Informe</span>
    </ng-template>
    <ng-template matTabContent>
      <botonera-estados [(auditoria)]="auditoria" (auditoriaChange)="actualizarWizard($event)"
        [flujoDeEstados]="flujoDeEstados" [estados]="estados"></botonera-estados>
      <div class="container mt-3">
        Acá va el informe
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="pasoPrimeraRevisionDeshabilitado">
    <ng-template mat-tab-label>
      <span class="badge badge-wizard badge-pill ml-2"
        [ngClass]="obtenerColorDelBadge(Constantes.INDEX_TAB_PRIMERA_REVISION)">{{Constantes.INDEX_TAB_PRIMERA_REVISION+1}}</span>
      <span class="ml-2">Primera revisión</span>
    </ng-template>
    <ng-template matTabContent>
      <botonera-estados [(auditoria)]="auditoria" (auditoriaChange)="actualizarWizard($event)"
        [flujoDeEstados]="flujoDeEstados" [estados]="estados"></botonera-estados>
      <div class="container mt-3">
        Acá va la primera revisión
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="pasoSegundaRevisionDeshabilitado">
    <ng-template mat-tab-label>
      <span class="badge badge-wizard badge-pill ml-2"
        [ngClass]="obtenerColorDelBadge(Constantes.INDEX_TAB_SEGUNDA_REVISION)">{{Constantes.INDEX_TAB_SEGUNDA_REVISION+1}}</span>
      <span class="ml-2">Segunda revisión</span>
    </ng-template>
    <ng-template matTabContent>
      <botonera-estados [(auditoria)]="auditoria" (auditoriaChange)="actualizarWizard($event)"
        [flujoDeEstados]="flujoDeEstados" [estados]="estados"></botonera-estados>
      <div class="container mt-3">
        Acá va la Segunda revisión
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab [disabled]="pasoGDEDeshabilitado">
    <ng-template mat-tab-label>
      <span class="badge badge-wizard badge-pill ml-2"
        [ngClass]="obtenerColorDelBadge(Constantes.INDEX_TAB_GDE)">{{Constantes.INDEX_TAB_GDE+1}}</span>
      <span class="ml-2">GDE</span>
    </ng-template>
    <ng-template matTabContent>
      <botonera-estados [(auditoria)]="auditoria" (auditoriaChange)="actualizarWizard($event)"
        [flujoDeEstados]="flujoDeEstados" [estados]="estados"></botonera-estados>
      <div class="container mt-3">
        Acá va el GDE
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>