<div *ngIf="Auditoria" class="container">
  <br />

  <br />
  <br />
  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Auditoria </mat-panel-title>
        <mat-panel-description>
          {{ Auditoria?.EstadoAuditoria }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        fechaauditoria: <b> {{ Auditoria?.fechaauditoria }} </b> <br />
        fechaplan: <b> {{ Auditoria?.fechaplan }} </b> <br />
        Prestador: <b> {{ Auditoria?.Prestador }} </b> <br />
        CUIT: <b> {{ Auditoria?.CUIT }} </b> <br />
        telefono: <b> {{ Auditoria?.telefono }} </b> <br />
        email: <b> {{ Auditoria?.email }} </b> <br />
        domicilio: <b> {{ Auditoria?.domicilio }} </b> <br />
        localidad: <b> {{ Auditoria?.localidad }} </b> <br />
        Provincia: <b> {{ Auditoria?.ProvinciaPrestador }} </b> <br />
        UGL: <b> {{ Auditoria?.UGL }} </b> <br />
        Referente: <b> {{ Auditoria?.Referente }} </b><br />
        idguia: <b> {{ Auditoria?.idguia }} </b> versionguia:
        <b> {{ Auditoria?.versionguia }} </b>
      </div>
      <!-- {{ Auditoria | json }} -->
    </mat-expansion-panel>
  </mat-accordion>

  <p>
    <br />
    <br />
    <mat-accordion>
      <mat-expansion-panel *ngFor="let inf of Informe">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ inf.descripcion }} </mat-panel-title>
          <mat-panel-description>
            Secciones: {{ inf?.Secciones }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            items: {{ inf?.items.length }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="container">
          <!-- <h2>Items</h2> -->
          <div class="container">
            <ul>
              <li *ngFor="let item of inf.items">{{ item.descripcion }}</li>
            </ul>
          </div>
          <!-- <h2>Subsecciones</h2> -->
          <div class="container" *ngFor="let subsec of inf.subSecciones">
            <h3>{{ subsec.descripcion }}</h3>
            <ul>
              <li *ngFor="let item of subsec.items">
                {{ item.descripcion }}
              </li>
            </ul>
          </div>
        </div>
        <!-- subSecciones: {{ inf.subSecciones | json }} -->
      </mat-expansion-panel>
    </mat-accordion>
    <!-- Informe:
    {{ Informe | json }} -->
  </p>
</div>
<!--  -->
<!-- <mat-spinner
  style="display: flex; justify-content: center; align-items: center"
></mat-spinner> -->
<div class="padre">
  <div class="hijo"><mat-spinner *ngIf="!Auditoria"></mat-spinner></div>
</div>
